<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s10">
            <form #contestentForm="ngForm" (ngSubmit)="onSubmit(contestentForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="contestentService.selectedContestent._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="contestentService.selectedContestent.name" placeholder="Enter full name" required>
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="address" #name="ngModel" [(ngModel)]="contestentService.selectedContestent.address" placeholder="Address" >
                  <label>Address :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="phone" #name="ngModel" [(ngModel)]="contestentService.selectedContestent.phone" placeholder="Phone Number" >
                  <label>Phone :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="nic" #name="ngModel" [(ngModel)]="contestentService.selectedContestent.nic" placeholder="NIC Number" >
                  <label>NIC :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(contestentForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!contestentForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Addres</th>
                      <th>Phone</th>
                      <th>NIC</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let contes of contestentService.contestents">
                    <td>{{contes.name}}</td>
                    <td>{{contes.address}}</td>
                    <td>{{contes.phone}}</td>
                    <td>{{contes.nic}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(contes)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(contes._id,contestentForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
